* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-image: url('img/background.jpg');
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.nav {
    width: 37rem;
    height: 3rem;
    display: flex;
    margin: 0 auto;
}

.slider__btn-button {
    height: 0.1rem;
    visibility: hidden;
}

.content {
    width: 100%;
    height: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
}

.text {
    width: 55%;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper {
    max-width: 37rem;
    width: 100%;
    height: 100%;
    border: .15rem solid #ffa;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 2rem #000;
}

.slider,
.text-slider {
    width: 900%;
    height: 100%;
    display: flex;
    transition: all .5s ease;
}

.text-slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 900%;
    transition: all .5s ease;
}

.slider__slide,
.text__item {
    width: 11.1111%;
    height: 100%;
    display: flex;
    opacity: 1;
    transition: all 1s ease-in;
}

.text__item {
    width: 100%;
    height: 11.111%;
    display: flex;
    text-align: start;
    align-items: center;
    transition: none;
}

.text__item {
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #ffa;
    cursor: default;
    text-align: justify;
    opacity: .8;
}

.slider__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: 100%;
}

.menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.menu__point {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu__point-round {
    width: 1rem;
    height: 1rem;
    border: .2em solid 	#fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    transition: all .4s ease-in;
}

.menu__point-miniround {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    opacity: 0.3;
    transition: all .4s ease-in;
}

.menu__point:hover > .menu__point-round {
    opacity: 1;
}

.slider__btn-button:focus {
    background: #fff;
    opacity: 1;
}


#btn1:checked ~ .nav .menu .menu__point #sld1,
#btn2:checked ~ .nav .menu .menu__point #sld2,
#btn3:checked ~ .nav .menu .menu__point #sld3,
#btn4:checked ~ .nav .menu .menu__point #sld4,
#btn5:checked ~ .nav .menu .menu__point #sld5,
#btn6:checked ~ .nav .menu .menu__point #sld6,
#btn7:checked ~ .nav .menu .menu__point #sld7,
#btn8:checked ~ .nav .menu .menu__point #sld8,
#btn9:checked ~ .nav .menu .menu__point #sld9 {
    background: #ffa;
    opacity: 1;
}

#btn1:checked ~ .nav .menu .menu__point #round1,
#btn2:checked ~ .nav .menu .menu__point #round2,
#btn3:checked ~ .nav .menu .menu__point #round3,
#btn4:checked ~ .nav .menu .menu__point #round4,
#btn5:checked ~ .nav .menu .menu__point #round5,
#btn6:checked ~ .nav .menu .menu__point #round6,
#btn7:checked ~ .nav .menu .menu__point #round7,
#btn8:checked ~ .nav .menu .menu__point #round8,
#btn9:checked ~ .nav .menu .menu__point #round9 {
    opacity: 1;
}


.arrows__last,
.arrows__next {
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 100%;
    font-size: 3rem;
    color: #ffa;
    cursor: pointer;
    display: none;
    opacity: 0.4;
    transition: all .2s ease-in;
}

.arrow:hover {
    opacity: 1;
}

#btn1:checked ~ .content .arrows__last #arrow-1,
#btn2:checked ~ .content .arrows__last #arrow-2,
#btn3:checked ~ .content .arrows__last #arrow-3,
#btn4:checked ~ .content .arrows__last #arrow-4,
#btn5:checked ~ .content .arrows__last #arrow-5,
#btn6:checked ~ .content .arrows__last #arrow-6,
#btn7:checked ~ .content .arrows__last #arrow-7,
#btn8:checked ~ .content .arrows__last #arrow-8,
#btn9:checked ~ .content .arrows__last #arrow-9 {
    display: flex;
}

#btn1:checked ~ .content .arrows__next #arrow-1,
#btn2:checked ~ .content .arrows__next #arrow-2,
#btn3:checked ~ .content .arrows__next #arrow-3,
#btn4:checked ~ .content .arrows__next #arrow-4,
#btn5:checked ~ .content .arrows__next #arrow-5,
#btn6:checked ~ .content .arrows__next #arrow-6,
#btn7:checked ~ .content .arrows__next #arrow-7,
#btn8:checked ~ .content .arrows__next #arrow-8,
#btn9:checked ~ .content .arrows__next #arrow-9 {
    display: flex;
}


#btn1:checked ~ .content .wrapper .slider {
    margin-left: 0;
}

#btn2:checked ~ .content .wrapper .slider {
    margin-left: -100%;
}

#btn3:checked ~ .content .wrapper .slider {
    margin-left: -200%;
}

#btn4:checked ~ .content .wrapper .slider {
    margin-left: -300%;
}

#btn5:checked ~ .content .wrapper .slider {
    margin-left: -400%;
}

#btn6:checked ~ .content .wrapper .slider {
    margin-left: -500%;
}

#btn7:checked ~ .content .wrapper .slider {
    margin-left: -600%;
}

#btn8:checked ~ .content .wrapper .slider {
    margin-left: -700%;
}

#btn9:checked ~ .content .wrapper .slider {
    margin-left: -800%;
}


#btn1:checked ~ .nav .text .text-slider {
    margin-top: -24rem;
}

#btn2:checked ~ .nav .text .text-slider {
    margin-top: -21rem;
}

#btn3:checked ~ .nav .text .text-slider {
    margin-top: -18rem;
}

#btn4:checked ~ .nav .text .text-slider {
    margin-top: -15rem;
}

#btn5:checked ~ .nav .text .text-slider {
    margin-top: -12rem;
}

#btn6:checked ~ .nav .text .text-slider {
    margin-top: -9rem;
}

#btn7:checked ~ .nav .text .text-slider {
    margin-top: -6rem;
}

#btn8:checked ~ .nav .text .text-slider {
    margin-top: -3rem;
}

#btn9:checked ~ .nav .text .text-slider {
    margin-top: 0;
}

@media only screen and (max-width: 767.9px) {
    .content {
        margin-bottom: 2rem;
    }
    .nav {
        width: 80%;
        flex-direction: column;
        height: auto;
    }

    .menu {
        width: 80%;
        height: 3rem;
        margin-bottom: 1rem;
        order: -1;
    }

    .text {
        width: 100%;
        height: 3rem;
    }

    .text__item {
        font-size: 1.5rem;
    }

    .wrapper {
        width: 80%;
    }
}

@media only screen and (max-width: 699.9px) {
    .text {
        width: 100%;
        height: 4rem;
    }

    .text-slider {
        justify-content: start;
        align-items: flex-start;
    }

    .content {
        height: 23rem;
    }

    #btn1:checked ~ .nav .text .text-slider {
        margin-top: -32rem;
    }
    
    #btn2:checked ~ .nav .text .text-slider {
        margin-top: -28rem;
    }
    
    #btn3:checked ~ .nav .text .text-slider {
        margin-top: -24rem;
    }
    
    #btn4:checked ~ .nav .text .text-slider {
        margin-top: -20rem;
    }
    
    #btn5:checked ~ .nav .text .text-slider {
        margin-top: -16rem;
    }
    
    #btn6:checked ~ .nav .text .text-slider {
        margin-top: -12rem;
    }
    
    #btn7:checked ~ .nav .text .text-slider {
        margin-top: -8rem;
    }
    
    #btn8:checked ~ .nav .text .text-slider {
        margin-top: -4rem;
    }
    
    #btn9:checked ~ .nav .text .text-slider {
        margin-top: 0;
    }
}

@media only screen and (max-width: 599.9px) {
    .content {
        height: 20rem;
    }
}

@media only screen and (max-width: 518.9px) {
    .content {
        height: 17rem;
    }
}

@media only screen and (max-width: 439.9px) {
    .content {
        height: auto;
        display: flex;
    }

}

@media only screen and (max-width: 389.9px) {
    .content {
        height: 12rem;
    }
}

@media only screen and (max-width: 359.9px) {
    .text {
        height: 6rem;
    }

    #btn1:checked ~ .nav .text .text-slider {
        margin-top: -48rem;
    }
    
    #btn2:checked ~ .nav .text .text-slider {
        margin-top: -42rem;
    }
    
    #btn3:checked ~ .nav .text .text-slider {
        margin-top: -36rem;
    }
    
    #btn4:checked ~ .nav .text .text-slider {
        margin-top: -30rem;
    }
    
    #btn5:checked ~ .nav .text .text-slider {
        margin-top: -24rem;
    }
    
    #btn6:checked ~ .nav .text .text-slider {
        margin-top: -18rem;
    }
    
    #btn7:checked ~ .nav .text .text-slider {
        margin-top: -12rem;
    }
    
    #btn8:checked ~ .nav .text .text-slider {
        margin-top: -6rem;
    }
    
    #btn9:checked ~ .nav .text .text-slider {
        margin-top: 0;
    }
}

@media only screen and (max-width: 339.9px) {
    .content {
        height: 10rem;
    }
}